# <u>Python Programming Overview</u>
Useful Python programming commands for Data Science

# <u> Data Types </u>
## Numbers

In [1]:
#  integer addition

1 + 1

2

In [10]:
#  float addition

2.4 + 3.1

5.5

In [7]:
#  multiplication

3 * 2

6

In [8]:
#  division

3/2

1.5

In [9]:
#  power

2**4

16

In [15]:
#  mod (remainder) 

5 % 2

1

In [16]:
8 % 2 == 0 #  If even

True

## Variable Assignment

In [17]:
x = 2
y = 3
x + y

5

In [18]:
#  reassign x
x = 4
x + y

7

In [19]:
#   Use _ in between words for variable naming convention

name_of_var = 12

## Strings

In [22]:
#  can use ''  or ""
'single quote'

'single quote'

In [33]:
"double quote"

'double quote'

In [34]:
#  printing strings
x='hello'
x

'hello'

In [26]:
#  print the output without ''
print(x)

hello

In [27]:
num = 12
name = 'Sam'

In [35]:
#  print formatting
#  put variables above into the string, print formatting
'My number is {} and my name is {}'.format(num,name)

'My number is 12 and my name is Sam'

In [30]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [32]:
#  print and assign format (order not important)
print('My number is {one} and my name is {two}'.format(two=name,one=num))

My number is 12 and my name is Sam

In [39]:
#  Indexing
s = 'hello'
for i in range(len(s)):
    print(s[i])

h
e
l
l
o

In [41]:
#  Indexing starts at zero
s[0]

'h'

In [42]:
#  Slice notation
s='abcdefghijk'

In [44]:
#  Starting at zero get everything beyond
s[1:]

'bcdefghijk'

In [45]:
#  Grab everthing up to but not including index 4
s[:4]

'abcd'

In [47]:
#  Start and endpoint, start at 3 and go up to index 5 (6 not included)
s[3:6]

'def'

## Lists

In [49]:
#  Can take in any data type
my_list = ['a','b','c']
my_list.append(17)
my_list

['a', 'b', 'c', 17]

In [51]:
my_list[1:len(my_list)]

['b', 'c', 17]

In [53]:
#  make first element a new item
my_list[0]='aa'
my_list

['aa', 'b', 'c', 17]

In [54]:
nested_list = [1,2,[3,4]]

In [55]:
nested_list[2]

[3, 4]

In [57]:
nested_list[2][1]

4

In [59]:
nested_list_2 = [1,2,3,[4,5,['target']]]

In [61]:
nested_list_2[3]

[4, 5, ['target']]

In [62]:
nested_list_2[3][2][0]

'target'