#  Data Input and Output in Pandas
---
## Data Sources 
* CSV
* Excel
* HTML
* SQL

##  SQL/HTML Package installation (conda or pip install)

*  conda install sqlalchemy
*  conda install lxml
*  conda install html5lib
*  conda install BeautifulSoup4

In [4]:
import pandas as pd

##  Reading CSV File

In [3]:
#  Reading csv files
pd.read_csv('example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

##  Writing to CSV

In [5]:
df = pd.read_csv('example.csv')

In [8]:
#  Write to CSV file and don't save the index
df.to_csv('data_write.csv',index=False)

## Reading and Writing to Excel files
---

In [16]:
#  Reading from excel files
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [15]:
#  Writing to excel files
df.to_excel('Write_To_Excel.xlsx',sheet_name="NewSheet")

## Reading and Writing to HTML
---