___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [6]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [7]:
sal = pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [8]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [10]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [14]:
sal['BasePay'].mean()

66325.448840487705

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [15]:
sal['OvertimePay'].max()

245131.88

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [54]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [56]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [59]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [60]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [69]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [70]:
sal['JobTitle'].nunique()

2159

2159

** What are the top 5 most common jobs? **

In [74]:
sal['JobTitle'].value_counts()[0:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [102]:
sal[sal['Year']==2013]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.00,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN
72926,72927,Joanne M Hayes-White,"Chief, Fire Department",313686.01,0.00,23236.00,85431.39,336922.01,422353.40,2013,NaN,San Francisco,NaN
72927,72928,Samson Lai,"Battalion Chief, Fire Suppress",186236.42,131217.63,29648.27,57064.95,347102.32,404167.27,2013,NaN,San Francisco,NaN
72928,72929,Ellen G Moffatt,Asst Med Examiner,272855.51,23727.91,38954.54,66198.92,335537.96,401736.88,2013,NaN,San Francisco,NaN
72929,72930,Robert L Shaw,"Dep Dir for Investments, Ret",315572.01,0.00,0.00,82849.66,315572.01,398421.67,2013,NaN,San Francisco,NaN
72930,72931,David L Franklin,Asst Chf of Dept (Fire Dept),215265.60,87985.24,30637.48,62890.36,333888.32,396778.68,2013,NaN,San Francisco,NaN
72931,72932,Harlan L Kelly-Jr,Executive Contract Employee,313312.52,0.00,0.00,82319.51,313312.52,395632.03,2013,NaN,San Francisco,NaN
72932,72933,John L Martin,Dept Head V,311758.96,0.00,1098.64,82476.85,312857.60,395334.45,2013,NaN,San Francisco,NaN
72933,72934,Edward D Reiskin,"Gen Mgr, Public Trnsp Dept",305307.89,0.00,0.00,80860.60,305307.89,386168.49,2013,NaN,San Francisco,NaN
72934,72935,Thomas A Siragusa,Asst Chf of Dept (Fire Dept),215265.60,88028.54,21526.49,61288.58,324820.63,386109.21,2013,NaN,San Francisco,NaN
72935,72936,Amy P Hart,Dept Head V,286480.44,0.00,17188.71,80077.63,303669.15,383746.78,2013,NaN,San Francisco,NaN
72936,72937,Yifang Qian,Senior Physician Specialist,203710.00,0.00,119176.84,58810.96,322886.84,381697.80,2013,NaN,San Francisco,NaN
72937,72938,Michael J Biel,Deputy Chief 3,278964.00,0.00,17587.86,77708.48,296551.86,374260.34,2013,NaN,San Francisco,NaN
72938,72939,Raymond A Guzman,Dep Chf of Dept (Fire Dept),270756.03,0.00,24181.02,77474.92,294937.05,372411.97,2013,NaN,San Francisco,NaN
72939,72940,Marty A Ross,"Battalion Chief, Fire Suppress",186236.43,88345.08,38035.09,58991.75,312616.60,371608.35,2013,NaN,San Francisco,NaN
72940,72941,Mark A Gonzales,Dep Chf of Dept (Fire Dept),270756.01,0.00,20236.50,77408.16,290992.51,368400.67,2013,NaN,San Francisco,NaN
72941,72942,Mark J Johnson,"Battalion Chief, Fire Suppress",186236.41,101466.96,23994.92,56134.30,311698.29,367832.59,2013,NaN,San Francisco,NaN
72942,72943,Bryan W Rubenstein,"Battalion Chief, Fire Suppress",186236.45,94450.92,30313.49,56508.46,311000.86,367509.32,2013,NaN,San Francisco,NaN
72943,72944,Gary L Altenberg,"Lieutenant, Fire Suppression",135903.02,163477.81,20994.96,46030.76,320375.79,366406.55,2013,NaN,San Francisco,NaN
72944,72945,John J Loftus,Deputy Chief 3,274126.50,0.00,13358.10,75909.10,287484.60,363393.70,2013,NaN,San Francisco,NaN
72945,72946,Edwin M Lee,Mayor,285446.37,0.00,0.00,77105.29,285446.37,362551.66,2013,NaN,San Francisco,NaN
72946,72947,Michael J Morris,Assistant Deputy Chief 2,124054.00,0.00,202322.37,35929.84,326376.37,362306.21,2013,NaN,San Francisco,NaN
72947,72948,David Shinn,Deputy Chief 3,278964.00,0.00,6428.79,76680.57,285392.79,362073.36,2013,NaN,San Francisco,NaN
72948,72949,Arthur W Kenney,Asst Chf of Dept (Fire Dept),213308.64,49139.25,36262.42,60756.95,298710.31,359467.26,2013,NaN,San Francisco,NaN
72949,72950,Lorrie A Kalos,"Battalion Chief, Fire Suppress",186236.49,87457.68,28003.53,57030.95,301697.70,358728.65,2013,NaN,San Francisco,NaN
72950,72951,Lyn Tomioka,Deputy Chief 3,278964.00,0.00,3536.35,76113.13,282500.35,358613.48,2013,NaN,San Francisco,NaN
72951,72952,Denise A Schmitt,Deputy Chief 3,278964.00,0.00,3536.39,75367.15,282500.39,357867.54,2013,NaN,San Francisco,NaN
72952,72953,Rudy J Castellanos,"Battalion Chief, Fire Suppress",186236.42,94274.25,19022.95,55351.53,299533.62,354885.15,2013,NaN,San Francisco,NaN
72953,72954,Susan Currin,"Adm, SFGH Medical Center",271831.50,0.00,5000.00,75511.72,276831.50,352343.22,2013,NaN,San Francisco,NaN
72954,72955,Thomas F Abbott,"Battalion Chief, Fire Suppress",186236.41,84382.38,23279.44,56184.01,293898.23,350082.24,2013,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110501,110502,Brett Rinehart,Recreation Leader,42.16,0.00,0.00,0.43,42.16,42.59,2013,NaN,San Francisco,NaN
110502,110503,Bertha Mendez,Custodian,41.95,0.00,0.00,0.42,41.95,42.37,2013,NaN,San Francisco,NaN
110503,110504,Fletcher F Brown,Recreation Leader,40.18,0.00,0.00,0.40,40.18,40.58,2013,NaN,San Francisco,NaN
110504,110505,Jonathan Chin,School Crossing Guard,38.50,0.00,0.00,0.39,38.50,38.89,2013,NaN,San Francisco,NaN
110505,110506,Jenny Huang,School Crossing Guard,38.50,0.00,0.00,0.39,38.50,38.89,2013,NaN,San Francisco,NaN
110506,110507,Christine M Ainza,Special Nurse,NaN,0.00,30.11,6.76,30.11,36.87,2013,NaN,San Francisco,NaN
110507,110508,Michael Monges,Recreation Leader,33.73,0.00,0.00,0.34,33.73,34.07,2013,NaN,San Francisco,NaN
110508,110509,Oscar D Gonzalez,Recreation Leader,33.73,0.00,0.00,0.00,33.73,33.73,2013,NaN,San Francisco,NaN
110509,110510,Elias Lanuza,Recreation Leader,32.88,0.00,0.00,0.33,32.88,33.21,2013,NaN,San Francisco,NaN
110510,110511,Veronica L Lee,Recreation Leader,29.23,0.00,2.94,0.00,32.17,32.17,2013,NaN,San Francisco,NaN
110511,110512,Mercedes Alvarez,School Crossing Guard,NaN,0.00,31.42,0.00,31.42,31.42,2013,NaN,San Francisco,NaN
110512,110513,William John Erkelens Jr,Special Assistant 14,26.34,0.00,0.00,0.26,26.34,26.60,2013,NaN,San Francisco,NaN
110513,110514,Daphne D La Zare,Special Nurse,18.81,0.00,3.76,3.90,22.57,26.47,2013,NaN,San Francisco,NaN
110514,110515,Michael A Denunzio,"BdComm Mbr, Grp2,M=$25/Mtg",25.00,0.00,0.00,0.25,25.00,25.25,2013,NaN,San Francisco,NaN
110515,110516,Rebecca J Prowda,"BdComm Mbr, Grp2,M=$25/Mtg",25.00,0.00,0.00,0.25,25.00,25.25,2013,NaN,San Francisco,NaN
110516,110517,Maria D Quinones,Senior Assessment Clerk,NaN,0.00,20.73,0.00,20.73,20.73,2013,NaN,San Francisco,NaN
110517,110518,Guillermo A Rodriguez,General Laborer,NaN,0.00,14.26,1.93,14.26,16.19,2013,NaN,San Francisco,NaN
110518,110519,Baltazar J Mata,Public Service Trainee,15.83,0.00,0.00,0.16,15.83,15.99,2013,NaN,San Francisco,NaN
110519,110520,Leol Aaron Amador,Public Service Trainee,15.83,0.00,0.00,0.16,15.83,15.99,2013,NaN,San Francisco,NaN
110520,110521,Carlos J Hernadez,Public Service Trainee,15.83,0.00,0.00,0.16,15.83,15.99,2013,NaN,San Francisco,NaN
110521,110522,Chinaenye E Nwachukwu,Environmental Service Worker,NaN,0.00,10.69,1.45,10.69,12.14,2013,NaN,San Francisco,NaN
110522,110523,Mengru Chen,Environmental Service Worker,NaN,0.00,10.69,1.45,10.69,12.14,2013,NaN,San Francisco,NaN
110523,110524,Mouy Him,Environmental Service Worker,NaN,0.00,10.69,1.45,10.69,12.14,2013,NaN,San Francisco,NaN
110524,110525,Roberto A Perez Lima,Environmental Service Worker,NaN,0.00,9.98,1.35,9.98,11.33,2013,NaN,San Francisco,NaN
110525,110526,Darius T Gardner,Environmental Service Worker,NaN,0.00,9.98,1.35,9.98,11.33,2013,NaN,San Francisco,NaN
110526,110527,Arthur L Curry,PS Aide Health Services,NaN,0.00,10.67,0.00,10.67,10.67,2013,NaN,San Francisco,NaN
110527,110528,Nereida Vega,Senior Clerk,NaN,0.00,5.56,0.00,5.56,5.56,2013,NaN,San Francisco,NaN
110528,110529,Timothy E Gibson,Police Officer 3,NaN,0.00,0.00,-2.73,0.00,-2.73,2013,NaN,San Francisco,NaN
110529,110530,Mark E Laherty,Police Officer 3,NaN,0.00,0.00,-8.20,0.00,-8.20,2013,NaN,San Francisco,NaN
110530,110531,David P Kucia,Police Officer 3,NaN,0.00,0.00,-33.89,0.00,-33.89,2013,NaN,San Francisco,NaN

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!