# <u>Python Programming Overview</u>
Useful Python programming commands for Data Science
* Numbers, variable assignment
* Strings, indexing, print formatting
* Lists
* Dictionaries
* Tuples
* Sets
* Boolean Logic
* Control Statements if/elif/else, for, while

# <u> Data Types </u>
## Numbers

In [1]:
#  integer addition

1 + 1

2

In [10]:
#  float addition

2.4 + 3.1

5.5

In [7]:
#  multiplication

3 * 2

6

In [8]:
#  division

3/2

1.5

In [9]:
#  power

2**4

16

In [15]:
#  mod (remainder) 

5 % 2

1

In [16]:
8 % 2 == 0 #  If even

True

## Variable Assignment

In [17]:
x = 2
y = 3
x + y

5

In [18]:
#  reassign x
x = 4
x + y

7

In [19]:
#   Use _ in between words for variable naming convention

name_of_var = 12

## Strings

In [22]:
#  can use ''  or ""
'single quote'

'single quote'

In [33]:
"double quote"

'double quote'

In [34]:
#  printing strings
x='hello'
x

'hello'

In [26]:
#  print the output without ''
print(x)

hello

In [1]:
num = 12
name = 'Sam'

### Print formatting

In [35]:
#  print formatting
#  put variables above into the string, print formatting
'My number is {} and my name is {}'.format(num,name)

'My number is 12 and my name is Sam'

In [30]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [2]:
#  print and assign format (order not important)
print('My number is {one} and my name is {two}'.format(two=name,one=num))

My number is 12 and my name is Sam

### Indexing strings

In [39]:
#  Indexing
s = 'hello'
for i in range(len(s)):
    print(s[i])

h
e
l
l
o

In [41]:
#  Indexing starts at zero
s[0]

'h'

In [42]:
#  Slice notation
s='abcdefghijk'

In [44]:
#  Starting at zero get everything beyond
s[1:]

'bcdefghijk'

In [45]:
#  Grab everthing up to but not including index 4
s[:4]

'abcd'

In [47]:
#  Start and endpoint, start at 3 and go up to index 5 (6 not included)
s[3:6]

'def'

## Lists [ ]

In [49]:
#  Can take in any data type
my_list = ['a','b','c']
my_list.append(17)
my_list

['a', 'b', 'c', 17]

In [51]:
my_list[1:len(my_list)]

['b', 'c', 17]

In [53]:
#  make first element a new item
my_list[0]='aa'
my_list

['aa', 'b', 'c', 17]

In [54]:
nested_list = [1,2,[3,4]]

In [55]:
nested_list[2]

[3, 4]

In [57]:
nested_list[2][1]

4

In [59]:
nested_list_2 = [1,2,3,[4,5,['target']]]

In [61]:
nested_list_2[3]

[4, 5, ['target']]

In [62]:
nested_list_2[3][2][0]

'target'

## Dictionary { key : values }

In [13]:
#  key:value pairs 
d = {'key1':'value1','key2':123}

In [14]:
#  need to index using keys
d['key1']

'value1'

In [15]:
d['key2']

123

In [16]:
#  values can also be lists
d = {'k1':[1,2,3]}

In [17]:
#  The k1 key values are a list
d['k1']

[1, 2, 3]

In [18]:
#  Indexing within the list
d['k1'][1]

2

In [20]:
#  You can also have the values be a dictionary
d = {'k1':{'innerkey':[1,2,3]}}

In [23]:
#  index with (key,key,index# structure)
d['k1']['innerkey'][0]

1

## Tuple ( )

In [24]:
#  Assign a tuple
t = (1,2,3)

In [25]:
t[0]

1

In [26]:
#  CANNOT REASSIGN TUPLE elements, immutable
t[0]= 'new'

TypeError: 'tuple' object does not support item assignment

## Sets { }

In [27]:
#  Defined by only unique elements 
{1,1,2,3,4,4,2,1,2,2}

{1, 2, 3, 4}

In [30]:
#  call the set function on a list
s = set([1,1,1,1,2,2,2,5,5,5,6,6,6])
print(s)

{1, 2, 5, 6}

In [33]:
#  add() elements to a set
s.add(7)
print(s)

{1, 2, 5, 6, 7}

##  Comparision Operators

In [34]:
#  Greater than
1 > 2

False

In [36]:
#  Less than
1 < 2

True

In [37]:
#  Less than or equal
1 < = 2

True

In [38]:
#  logically true? 
1 == 2

False

In [39]:
#  Not equal to? 
1 != 2

True

In [40]:
'hi' != 'bye'

True

In [42]:
1 < 2 and 2 < 3

True

In [44]:
(1 < 2) and (2 > 3)

False

In [45]:
#  only one has to be true 
(1 < 2) or (2 > 3)

True

# Logical Control Statements

## if/elif/else

In [46]:
#  if statement:
if 1 < 2:
    print('1 is less than 2')

1 is less than 2

In [47]:
if True:
    x=2+2
x

4

In [50]:
#  if/elif/else (note the indent structure)
if 1 ==2:
    print('First')
elif 3==3:
    print('Middle')
else:
    print('Last')

Middle

## Iteration Loops